@CHARSET "UTF-8";

body {
	background-color: #fff !important;
}

.page-header {
	background-image: none;
	border: 0 none;
	box-shadow: none;
	margin: 0;
	opacity: 1;
	padding: 0;
	width: 100%;
}

.page-header .container, .page-header .container-fluid {
	position: relative;
}

.navbar {
	background: #428BCA none repeat scroll 0 0;
	border: 0 none;
	border-radius: 0;
	box-shadow: none;
	margin: 0;
	min-height: 45px;
	padding-left: 0;
	padding-right: 0;
	position: relative;
}

.navbar .navbar-header {
	margin: 0 !important;
}

.navbar .navbar-brand {
	color: #fff;
	font-size: 24px;
	padding-bottom: 10px;
	text-shadow: none;
	float: left;
	height: 50px;
	line-height: 20px;
	padding: 15px;
}

.pull-right {
	float: right;
}

.ace-nav {
	height: 100%;
	margin: 0 !important;
}

.ace-nav>li:first-child {
	border-left: medium none;
}

.ace-nav>li {
	border-left: 1px solid #ddd;
	float: left !important;
	height: 45px;
	line-height: 45px;
	margin-top: 2px;
	padding: 0;
	position: relative;
}

.page-header .page-header-menu {
	clear: both;
	display: block;
	height: 50px;
	background: #444d58 none repeat scroll 0 0;
}

.page-header .page-header-menu .hor-menu .navbar-nav>li.mega-menu-dropdown
	{
	position: static;
}

.page-header .page-header-menu .hor-menu {
	float: left;
	margin: 0;
}

.page-header .page-header-menu .hor-menu .navbar-nav>li>a {
	font-size: 14px;
	font-weight: normal;
	padding: 16px 10px 15px;
}

.page-header .page-header-menu .hor-menu .navbar-nav>li>a>i {
	color: #bcc2cb;
	margin-left: 4px;
}

.page-header .page-header-menu .hor-menu .navbar-nav>li.mega-menu-dropdown>.dropdown-menu
	{
	left: auto;
	width: auto;
}

.page-header .page-header-menu .hor-menu .navbar-nav>li .dropdown-menu {
	border: medium none;
	margin-top: -2px;
	background: #55616f none repeat scroll 0 0;
	box-shadow: 5px 5px rgba(85, 97, 111, 0.2);
}

.page-header .page-header-menu .hor-menu .navbar-nav>li.mega-menu-dropdown>.dropdown-menu .mega-menu-content
	{
	font-family: "Open Sans", sans-serif;
	margin: 0;
	padding: 0 15px 15px;
}

.page-header .page-header-menu .hor-menu .navbar-nav>li.mega-menu-dropdown>.dropdown-menu .mega-menu-content .mega-menu-submenu
	{
	margin: 0;
	padding: 0;
}

.mega-menu-submenu>li {
	margin-top: 10px;
}

.page-header .page-header-menu .hor-menu .navbar-nav>li.mega-menu-dropdown>.dropdown-menu .mega-menu-content .mega-menu-submenu li>h3
	{
	font-size: 15px;
	font-weight: normal;
	margin-top: 5px;
	padding-left: 5px;
	color: #ced5de;
}

.page-header .page-header-menu .hor-menu .navbar-nav>li>a {
	color: #bcc2cb;
}

.page-header .page-header-menu .hor-menu .navbar-nav>li .dropdown-menu li>a
	{
	color: #ced5de;
}

.page-footer {
	padding: 8px;
	position: relative;
	text-align: center;
	width: 100%;
	color: #a2abb7;
	background: #3b434c none repeat scroll 0 0;
	z-index: 10;
}

.user-info {
	display: inline-block;
	line-height: 15px;
	max-width: 100px;
	overflow: hidden;
	position: relative;
	text-align: left;
	text-overflow: ellipsis;
	vertical-align: middle;
	white-space: nowrap;
}

.page-header .page-header-menu .hor-menu .navbar-nav>li.open>a,
	.page-header .page-header-menu .hor-menu .navbar-nav>li>a:hover {
	background: #55616f none repeat scroll 0 0 !important;
	color: #ffffff;
}

.page-header .page-header-menu .hor-menu .navbar-nav>li>a {
	font-size: 14px;
	font-weight: normal;
	padding: 16px 10px 15px;
}

.ace-nav>li.light-blue>a:hover, .ace-nav>li.light-blue>a:focus {
	background-color: #579ec8
}

.navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
	color: #fff
}

.page-header .page-header-menu .hor-menu .navbar-nav>li .dropdown-menu li:hover>a
	{
	color: #ced5de;
	background: #5d6b7a;
}

.ace-nav>li.light-blue>a {
	background-color: #62a8d1;
	padding: 0 10px;
}

.mega-menu-submenu>li a {
	text-decoration: none;
}

.page-header .page-header-menu .hor-menu .navbar-nav>li.mega-menu-dropdown>.dropdown-menu .mega-menu-content .mega-menu-submenu li>a
	{
	font-family: "Open Sans", sans-serif;
	font-size: 12px;
	margin: 0;
	padding: 7px;
	white-space: normal;
}

.navbar-fixed-top {
	z-index: 10001;
}

.hor-menu>.nav>li>a:FOCUS, .hor-menu>.nav>li>a:HOVER {
	background-color: #55616f;
}